POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=occnt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5432/occnt
PGADMIN_DEFAULT_EMAIL=admin@occnt.dev
PGADMIN_DEFAULT_PASSWORD=occntadmin
